# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Distribution / packaging
*.egg-info/
dist/
build/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache

# Jupyter Notebook
.ipynb_checkpoints

# IDEs/editors
.vscode/
.idea/
*.swp

# Mac
.DS_Store

# Python dotenv
.env